.searchable-dropdown {
    position: relative;
    cursor: default;

    &.disabled {
        .control {
            .arrow {
                border-color: var(--placeholder-text-color) transparent transparent;
            }
    
            .selected-value {
                input {
                    color: var(--placeholder-text-color);
                    border: 2px solid var(--placeholder-text-color);
                }
            }
        }
    }

    .control {
        .arrow {
            border-color: var(--accent-color) transparent transparent;
            border-style: solid;
            border-width: 5px 5px 0;
            content: ' ';
            display: block;
            margin-top: 0.5rem;
            position: absolute;
            right: 10px;
            top: 14px;
            width: 0;
            height: 0;
        }
  
        .selected-value {
            input {
                font-size: 1rem;
                font-weight: 500;
                font-family: 'Outfit', sans-serif;
                color: var(--accent-color);
                background-color: var(--background-color);
                border: 2px solid var(--accent-color);
                border-radius: 5px;
                box-sizing: border-box;
                cursor: default;
                outline: none;
                padding: 0.75rem;
                width: 100%;

                &::placeholder {
                    color: var(--placeholder-text-color);
                }
            }
        }
    }
  
    .options {
        display: none;
        box-sizing: border-box;
        margin-top: -1px;
        overflow-y: auto;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 1000;
        -webkit-overflow-scrolling: touch;
        border-radius: 10px;
        background-color: rgba(var(--text-color), 0.1);
        backdrop-filter: blur(100px);
    }

    &.open {
        .arrow {
            border-color: transparent transparent var(--text-color);
            border-width: 0 5px 5px;
        }

        .options {
            display: block;

            > * {
                border-bottom: 1px solid var(--secondary-text-color);
    
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}