.team-option {
    display: flex;
    align-items: center;
    padding: 0.3rem;
    gap: 0.3rem;

    &.selected, &:hover {
        background-color: var(--dark-background-color);
        cursor: pointer;

        span {
            color: var(--background-color);
        }
    }

    img {
        width: 1.5rem;
        aspect-ratio: 1;
        object-position: center;
    }

    span {
        font-size: 1rem;
        color: var(--text-color)
    }
}