:root {
    --background-color: white;
    --text-color: black;
}

.light {
    --background-color: white;
    --text-color: black;
}

.dark {
    --background-color: black;
    --text-color: white;
}