:root {
    --background-color: white;
    --secondary-background-color: white;
    --text-color: black;
    --secondary-text-color: black;
    --placeholder-text-color: gray;

    --light-100: #fafafa;
    --light-200: #dfdfdf;
    --light-300: #c8c8c8;
    --light-400: #aeaeae;
    --light-500: #949494;
    --light-600: #787878;

    --dark-100: #050505;
    --dark-200: #202020;
    --dark-300: #373737;
    --dark-400: #515151;
    --dark-500: #6b6b6b;
    --dark-600: #878787;
}