.chart-options-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;

    .title {
        text-transform: uppercase;
        font-size: 48px;
        color: var(--accent-color);
        font-weight: 500;
    }

    .spacer {
        flex: 1;
    }

    .save-button {
        background-color: var(--accent-color);
        color: var(--background-color);
        padding: 1rem;
        border-radius: 5px;
        font-family: 'Outfit', sans-serif;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: bold;
    }

    svg {
        height: 25px;
        aspect-ratio: 1;
        object-fit: cover;
        fill: var(--accent-color);
    }
}