.information-button-container {
    position: relative;
    display: inline-block;

    .information-button {
        cursor: pointer;
        color: var(--text-color);
        border: none;
        transition: background-color 0.3s ease-in-out;
    }

    img {
        color: var(--text-color)
    }

    .information-content {
        visibility: hidden;
        background-color: rgba(var(--text-color), 0.1);
        backdrop-filter: blur(50px);
        color: var(--accent-color);
        text-align: center;
        padding: 5px;
        border-radius: 5px;
        position: absolute;
        z-index: 1;
        top: calc(100% + 5px);
        left: 50%;
        transform: translateX(-50%);
        width: 150px;
        line-height: 1.5;
        font-size: 1rem;

        &.show {
            visibility: visible;
        }

        &::after {
            content: '';
            position: absolute;
            top: -10px;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent var(--accent-color) transparent;
        }
    }
}